---
layout: default
title: 关于我
---

{% include header.html %}

<div class="g-banner tags-banner {{ site.postPatterns | prepend: 'post-pattern-' }} {{ site.theme-color | prepend: 'bgcolor-' }}" data-theme="{{ site.theme-color }}">
    <h2>{{ page.title }}</h2>
</div>

<main class="tags-content">
    <ul class="tags-list">
	    <li>
		    <span class="tag-name">Who am I?</span>
			<p>姓名：{{ site.author }}</p>
			<p>小名：{{ site.nickname }}</p>
			<p>性别：男</p>
			<p>爱好：[Loading Error... Try to reload this page.]</p>
			<p>年龄：{{ site.old }}</p>
			<p>职业：学生</p>
			<p>Where am I from：{{ site.from }}</p>
		</li>
		<li>
		    <span class="tag-name">What is my favourites' thing</span>
			<p>网页开发：HTML5 CSS JS</p>
			<p>Adobe全家桶：Photoshop Premiere Dreamweaver</p>
			<p>程序开发：C</p>
			<p>开发环境：VisualStudio</p>
			<p>下载工具：IDM 迅雷</p>
			<p>视频：爱奇艺 Bilibili YouTube</p>
			<p>B站UP：大大期 黑镖客梦回 罗兹 上条20001 LinusTechTips TechQuickie</p>
			<p>主机：腾讯云 阿里云 Vultr BandwagonHost Linode</p>
			<p>主机线路：香港 台湾 美国 日本 新加坡</p>
			<p>游戏：Minecraft PC-Building-Simulator</p>
			<p>支付方式：支~付~宝！ 微信支付 PayPal 信用卡 西联</p>
			<p>抢走钱包：G胖和他的Steam</p>
			<p>硬件商：英特尔 AMD 西数 ASUS 微星 英伟达 金士顿</p>
		</li>
		<li>
		    <span class="tag-name" id="call">为我打Call</span>
			{% if site.qq.size>0 %}
                <p>QQ：<a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin={{ site.qq }}&site=qq&menu=yes"><img border="0" src="/assets/icons/qq_lianxiwomen.gif" alt="联系站长添加友情链接" title="联系站长添加友情链接"/></a></p>
            {% endif %}
            {% if site.mail.size>0 %}
                <p>邮箱：<a target="_blank" href="mailto:{{ site.mail }}">{{ site.mail }}</a></p>
            {% endif %}
            {% if site.mp.size==11 %}
                <!--11位手机号属于中国大陆标准手机号，大陆通用-->
                <p>手机：<a href="tel:{{ site.mp }}">{{ site.mp }}</a></p>
            {% endif %}
            {% if site.phone.size>0 %}
                <!--这里填写的是座机电话（相对于手机较为不经常变化位置的，即号码为0799-555555的类似内容）-->
                <p>座机：<a href="tel:{{ site.phone }}">{{ site.phone }}</a></p>
            {% endif %}
			GitHub: <a target="_blank" href="https://github.com/sctop">sctop</a>
		</li>
	</ul>
</main>