---
layout: default
home-title: 博客云盘
description: 文件大杂烩！
---

{% include header.html %}

<div class="g-banner home-banner {{ site.theme-color | prepend: 'banner-theme-' }}" data-theme="{{ site.theme-color }}">
    <h2>{{ page.home-title }}</h2>
    <h3>{{ page.description }}</h3>
	{% if page.header-img %}
    <img class="header-img" src="{{ page.header-img | prepend: site.baseurl }}" alt="">
    {% endif %}
</div>

<main class="g-container home-content">
	<h1 id="博客云盘">博客云盘</h1>
	<hr />
	<h1 id="hey欢迎来到童年是个风筝博客云盘">Hey!欢迎来到童年是个风筝博客云盘！</h1>
	<h2 id="我们将按照文件类型分类排序方式从新到旧">我们将按照文件类型分类（排序方式：从新到旧）</h2>
	<h2 id="我们将告别百度云那非常慢的速度转而使用github">我们将告别百度云那非常慢的速度！转而使用GitHub！</h2>
	<hr />
	<h3 id="mp4">mp4</h3>
	<p><a href="https://github.com/sctop/WebSideFile/raw/master/sctop.github.io/%E3%80%90%E9%87%91%E5%9D%B7%E5%9E%83%E3%80%912017%E9%87%91%E5%9D%B7%E5%9E%83%E6%92%AD%E7%A7%8D%E7%A5%AD.mp4">【金坷垃】2017金坷垃播种祭.mp4</a></p>
	<hr />
	<p><strong>更多内容正在持续上映…….</strong></p>
	<hr />
	<hr />
	<p>网页ping测试（站长之家）：</p>
	<p>132/132 （完成/总共）</p>
	<p><strong>最快：美国洛杉矶[海外] &lt;1ms</strong></p>
	<p><strong>最慢：浙江台州[联通] 256ms</strong></p>
	<p><strong>平均：93.1ms</strong></p>
	<hr />
	<p>网页国内测速（站长之家，无平均；总耗时）：</p>
	<p><strong>最快：江苏扬州[移动] 289ms</strong></p>
	<p><strong>最慢：广东深圳[多线] 6295ms</strong></p>
	<hr />
	<p>网页国外测速（站长之家，无平均；总耗时）：</p>
	<p><strong>最快：美国[无详细地点；海外] 42ms</strong></p>
	<p><strong>最慢：中国香港[海外] 3484ms</strong></p>
	<hr />
	<p>2017/8/19更新测试内容</p>
</main>

{% include footer.html %}