---
layout: default
home-title: '童年是个风筝的博客'
home-description: 'zhangqirun.cn，更易识别，权重更高'
---

{% include header.html %}

<div class="g-banner home-banner {{ site.theme-color | prepend: 'banner-theme-' }}" data-theme="{{ site.theme-color }}">
    <h2>{{ site.home-title }}</h2>
    <h3>{{ site.home-description }}</h3>
    {% if page.header-img %}
    <img class="header-img" src="{{ page.header-img | prepend: site.baseurl }}" alt="">
    {% endif %}
</div>

<main class="g-container home-content">
    <div class="article-list">
        {% increment posts_for %}
        {% for post in paginator.posts %}
            <article class="article-item">
			    {% increment posts_for %}
                {% if post.cover %}
                <div class="post-cover">
                    <a class="post-link" href="{{ post.url }}" title="{{ post.title }}"></a>
                    <img src="{{ post.cover }}" alt="">
                </div>
                {% endif %}
                <section class="post-preview">
                    <a class="post-link" href="{{ post.url }}" title="{{ post.title }}"></a>
                    <h2 class="post-title">{{ post.title }}</h2>
                    {% if post.subtitle %}
                    <h3 class="post-subtitle">{{ post.subtitle }}</h3>
                    {% endif %}
                    {% if post.subtitle.size==0 or post.subtitle==nil %}
                    <p class="post-excerpt">{{ post.excerpt | strip_html | strip_newlines | truncate: 126}}</p>
                    {% endif %}
                </section>
                <footer class="post-meta">
                    <div class="post-tags">
                        {% if post.tags.size > 0 %}
                            {% for tag in post.tags  %}
                            <a href={{ "tags.html#" | append: tag | pretend: site.baseurl}} class="post-tag">{{ tag }}</a>
                            {% endfor %}
                        {% endif %}
                    </div>
                    <time class="post-date" datetime="{{ post.date | date:"%y-%m-%d" }}">{{ post.date | date_to_string }}</time>
                </footer>
            </article>
			{% if site.paginate > 2 and posts_for > 2 %}
			    {% assign temp = posts_for | divided_by: 2.0 %}
				{% assign temp2 = temp | floor %}
		        {% if temp>temp2 and temp<temp+1 %}
				    {% break %}
                    {% assign exit_for = "exit" %}
				{% endif %}
				{% if temp>temp2-1 and temp<temp2 %}
				    {% break %}
                    {% assign exit_for = "exit" %}
				{% endif %}
                {% assign exit_for = "noexit" %}
			    {% if posts_for != site.paginate and exit_for != "exit" %}
				    <ins class="adsbygoogle"
			            style="display:block"
			            data-ad-format="fluid"
			            data-ad-layout-key="-fg+4m+ac-en-5l"
			            data-ad-client="ca-pub-9833352239491773"
			            data-ad-slot="3283458874"></ins>
		            <script>
			            (adsbygoogle = window.adsbygoogle || []).push({});
		            </script>
				{% endif %}
			{% endif %}
        {% endfor %}
		
		{% if site.googleads.indexposts %}
		<ins class="adsbygoogle"
			style="display:block"
			data-ad-format="fluid"
			data-ad-layout-key="-fg+4m+ac-en-5l"
			data-ad-client="ca-pub-9833352239491773"
			data-ad-slot="3283458874"></ins>
		<script>
			(adsbygoogle = window.adsbygoogle || []).push({});
		</script>
		{% endif %}

        {% if paginator.total_pages > 1 %}
            {% include pageNav.html %}
        {% endif %}

    </div>

    <aside class="g-sidebar-wrapper">
        <div class="g-sidebar">
            <section class="author-card">
                <div class="avatar">
                    <img src="{{ site.avatar | prepend: site.baseurl }}" alt="">
                </div>
                <div class="author-name" rel="author">{{ site.author }}</div>
                <div class="bio">
                    <p>{{ site.bio }}</p>
                </div>
                {% if site.sns.size > 0 %}
                <ul id="sns-links" class="sns-links">
                    {% for s in site.sns %}
                    <li>
                        <a href="{{ s[1] }}" target="_blank">
                            <i class="iconfont icon-{{ s[0] }}"></i>
                        </a>
                    </li>
                    {% endfor %}
					<p>站长的联系方式请到<a target="_blank" href="/links.html#联系站长">友情链接-联系站长</a>处查看~谢谢合作</p>
                </ul>
                {% endif %}
            </section>

            {% if site.recommend-tags and site.tags.size>0 %}
            <section class="tags-card">
                {% for tag in site.tags %}
                    {% if forloop.index > site.recommend-condition-size %}
                        {% break %}
                    {% endif %}
                    <a href="{{ "tags.html#" | append: tag[0] | prepend: site.baseurl }}" class="tag">{{ tag[0]}}</a>
                {% endfor %}
            </section>
            {% endif %}
			
			{% if site.bzlinks %}
			<section class="tag-card">
			    {% for links in site.bozhulinks %}
				    <a href="{{ links[1] }}" class="tag">{{ links[0] }}</a>
				{% endfor %}
			</section>
			{% endif %}
			
            {% if site.googleads.index %}
            <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
            <!-- 首页右侧广告 -->
            <ins class="adsbygoogle"
                style="display:block"
                data-ad-client="ca-pub-9833352239491773"
                data-ad-slot="3827396112"
                data-ad-format="auto"></ins>
            <script>
                (adsbygoogle = window.adsbygoogle || []).push({});
            </script>
            {% endif %}
        </div>

        {% if site.search %}
        <div class="search-card">
            <input id="search_input" type="text" placeholder="Enter search text here">
            <i class="iconfont icon-search"></i>
            <div class="search_result"></div>
        </div>
        {% endif %}

    </aside>

</main>

{% include footer.html %}
