---
layout: default
home-title: milestone
description: 知之真切笃实处即是行，行之明觉精察处即是知
---

{% include header.html %}

<div class="g-banner home-banner {{ site.theme-color | prepend: 'banner-theme-' }}" data-theme="{{ site.theme-color }}">
    <h2>{{ page.home-title }}</h2>
    <h3>{{ page.description }}</h3>
	{% if page.header-img %}
    <img class="header-img" src="{{ page.header-img | prepend: site.baseurl }}" alt="">
    {% endif %}
</div>

<main class="g-container home-content">
	<center>
		<p><img src="https://gss0.baidu.com/7Ls0a8Sm2Q5IlBGlnYG/sys/portraitl/item/382673a0?t=1491883856" align="center" /></p>
	</center>

	<h1 id="代表作">代表作</h1>
	<p><a href="https://www.cnfast.top/2017/07/30/WebStart.html">网站搭建完成</a></p>
	<h1 id="网站源代码">网站源代码</h1>
	<p><a href="https://github.com/sctop/sctop.github.io/">网页源代码</a></p>
	<p><a href="/feed.xml">RSS订阅</a></p>
</main>

{% include footer.html %}