---
layout: default
home-title: Visual Studio 2017使用技巧（C语言）
description: 查资料的时候，突然蹦出一个窗口：404找不到
---

{% include header.html %}

<div class="g-banner home-banner {{ site.theme-color | prepend: 'banner-theme-' }}" data-theme="{{ site.theme-color }}">
    <h2>{{ page.home-title }}</h2>
    <h3>{{ page.description }}</h3>
    {% if page.header-img %}
    <img class="header-img" src="{{ page.header-img | prepend: site.baseurl }}" alt="">
    {% endif %}
</div>

<main class="g-container home-content">
	<h1 id="visual-studio使用小技巧--小贴士">Visual Studio使用小技巧 &amp; 小贴士</h1>
	<hr />
	<h4 id="qvisual-studio无法使用scanf是为什么错误c4996">Q：Visual Studio无法使用scanf是为什么（错误：C4996）</h4>
	<h4 id="a在新版本的c版本中微软已经禁止使用了scanf转而使用了更加简洁的cin">A：在新版本的C++版本中，微软已经<strong>禁止使用了scanf</strong>，转而<strong>使用了更加简洁的cin</strong>。</h4>
	<pre><code class="language-C">int temp;
	scanf("%d",&amp;temp);
	cin &gt;&gt; temp;
	</code></pre>
	<h4 id="发现了没cin函数可谓更加简洁它省略了数据类型和只用了两个便搞定了也不用指明数据类型">发现了没，cin函数可谓更加简洁，它省略了[数据类型]和”&amp;”，只用了两个＞＞便搞定了，也不用指明数据类型。</h4>
	<h4 id="实际上c-of-microsoft放弃scanf的主要原因是过时以及不安全性">实际上，C++ of Microsoft放弃scanf的主要原因是过时，以及不安全性。</h4>
	<h4 id="scanf会溢出内存正如百度百科所讲">scanf会溢出内存。正如百度百科所讲：</h4>
	<h4 id="1内存溢出问题是-c-语言或者-c-语言所固有的缺陷它们既不检查数组边界又不检查类型可靠性type-safety众所周知用-cc-语言开发的程序由于目标代码非常接近机器内核因而能够直接访问内存和寄存器这种特性大大提升了-cc-语言代码的性能只要合理编码cc应用程序在执行效率上必然优于其它高级语言然而cc-语言导致内存溢出问题的可能性也要大许多其他语言也存在内存溢出问题但它往往不是程序员的失误而是应用程序的运行时环境出错所致">1.内存溢出问题是 C 语言或者 C++ 语言所固有的缺陷，它们既不检查数组边界，又不检查类型可靠性(type-safety)。众所周知，用 C/C++ 语言开发的程序由于目标代码非常接近机器内核，因而能够直接访问内存和寄存器，这种特性大大提升了 C/C++ 语言代码的性能。只要合理编码，C/C++应用程序在执行效率上必然优于其它高级语言。然而，C/C++ 语言导致内存溢出问题的可能性也要大许多。其他语言也存在内存溢出问题，但它往往不是程序员的失误，而是应用程序的运行时环境出错所致。</h4>
	<h4 id="2-当应用程序读取用户也可能是恶意攻击者数据试图复制到应用程序开辟的内存缓冲区中却无法保证缓冲区的空间足够时换言之假设代码申请了-n-字节大小的内存缓冲区随后又向其中复制超过-n-字节的数据内存缓冲区就可能会溢出想一想如果你向-12-盎司的玻璃杯中倒入-16-盎司水那么多出来的-4-盎司水怎么办当然会满到玻璃杯外面了">2. 当应用程序读取用户(也可能是恶意攻击者)数据，试图复制到应用程序开辟的内存缓冲区中，却无法保证缓冲区的空间足够时(换言之，假设代码申请了 N 字节大小的内存缓冲区，随后又向其中复制超过 N 字节的数据)。内存缓冲区就可能会溢出。想一想，如果你向 12 盎司的玻璃杯中倒入 16 盎司水，那么多出来的 4 盎司水怎么办？当然会满到玻璃杯外面了！</h4>
	<h3 id="tips使用cin函数时请加上如下内容在程序正文前">TIPS：使用cin函数时，请加上如下内容（在程序正文前）：</h3>
	<pre><code class="language-C++">/*如果是较新的版本请使用iostream*/
	#include &lt;iostream&gt;
	/*如果是VC6.0版本，请使用iostream.h，旧版本是有.h的*/
	#include &lt;iostream.h&gt;
	using namespace std;
	</code></pre>
	<hr />
	<h4 id="qvisual-studio-2017中为什么创建一个c生成文件项目编译exe时会找不到exe">Q：Visual Studio 2017中，为什么创建一个C++生成文件项目编译exe时会找不到exe</h4>
	<h4 id="a请先检查当选择此选项时visual-studio-2017是否会弹出生成文件项目调试配置设置界面如果有即判断为您属于新版本的visual-studio-2017">A：请先检查，当选择此选项时，Visual Studio 2017是否会弹出“生成文件项目调试配置设置”界面。如果有，即判断为您属于新版本的Visual Studio 2017。</h4>
	<h4 id="要生成exe首先请关闭生成文件项目调试配置设置界面然后重新新建一个项目找到visual-c下的windows桌面下的windows-控制台应用程序然后新建项目">要生成exe，首先请关闭“生成文件项目调试配置设置”界面，然后重新新建一个项目，找到“Visual C++”下的“Windows桌面”下的“Windows 控制台应用程序”，然后新建项目。</h4>
	<h4 id="编辑你的项目只需像以前那样编写即可请注意不要改动任何东西特别是">编辑你的项目。只需像以前那样编写即可。请注意不要改动任何东西，特别是</h4>
	<pre><code class="language-C++">#include "stdafx.h"
	</code></pre>
	<h4 id="这一头文件十分重要如果没有visual-studio-2017将会报错">这一头文件十分重要，如果没有，Visual Studio 2017将会报错</h4>
	<hr />
	<h4 id="qc-free的return函数可以在屏幕上显示按任意键继续其在main函数下visual-studio-2017有这个功能吗">Q：C-Free的return函数可以在屏幕上显示“按任意键继续”（其在main函数下），Visual Studio 2017有这个功能吗？</h4>
	<h4 id="avisual-studio-2017没有这个功能不过您可以在return的前面加上">A：Visual Studio 2017没有这个功能，不过您可以在return的前面加上</h4>
	<div class="language-bash highlighter-rouge"><div class="highlight"><pre class="highlight"><code>system<span class="o">(</span><span class="s2">"pause"</span><span class="o">)</span><span class="p">;</span>
	</code></pre></div></div>
	<h4 id="请注意使用system函数前请加上">请注意，使用system函数前请加上</h4>
	<pre><code class="language-C++">#include &lt;stdlib.h&gt;
	</code></pre>
	<h4 id="当然您也可以使用以下函数c用户请使用">当然您也可以使用以下函数，C++用户请使用</h4>
	<pre><code class="language-C++">getch();
	</code></pre>
	<h4 id="c语言用户请使用">C语言用户请使用</h4>
	<pre><code class="language-C">getchar();
	</code></pre>
	<h4 id="该函数已经包含在了cc的主头文件里函数的作用是在接收到任意键以前一直等待">该函数已经包含在了C/C++的主头文件里。函数的作用是在接收到任意键以前一直等待</h4>
	<h4 id="请注意该函数在某些情况下会直接跳过">请注意，该函数在某些情况下会直接跳过。</h4>
</main>

{% include footer.html %}