---
layout: default
title: 赞赏区
---

{% include header.html %}

<div class="g-banner tags-banner {{ site.postPatterns | prepend: 'post-pattern-' }} {{ site.theme-color | prepend: 'bgcolor-' }}" data-theme="{{ site.theme-color }}">
    <h2>赞赏区</h2>
</div>

<main class="tags-content">
    <ul class="tags-list">
            <p>赞赏快速导航：</p>
			{% if site.alipay.size>0 %}
			<p><a href="#alipay" class="tag">支付宝方式付款</a></p>
			{% endif %}
			{% if site.wechat.size>0 %}
			<p><a href="#wechat" class="tag">微信方式付款</a></p>
			{% endif %}
			{% if site.wechatcx.size>0 %}
			<p><a href="#wechat-small-software" class="tag">微信赞赏码方式付款</a></p>
			{% endif %}
			
			<p><a href="#404-site" class="tag">站点丢了</a></p>
			<p><a href="#no-good-things" class="tag">举报不适合的内容</a></p>
        </li>
		{% if site.alipay.size>0 %}
		<li>
			<span class="tag-name" id="alipay">「支付宝方式」</span>
			<img src="{{ site.alipay }}"  alt="使用支付宝方式" />
		</li>
		{% endif %}
		{% if site.wechatpay.size>0 %}
		<li>
			<span class="tag-name" id="wechat">「微信转账二维码方式」</span>
			<img src="{{ site.wechatpay }}"  alt="使用微信转账二维码方式" />
		</li>
		{% endif %}
		{% if site.wechatcxpay.size>0 %}
		<li>
			<span class="tag-name" id="wechat-small-software">「微信赞赏码（小程序码型）方式」</span>
			<img src="{{ site.wechatcxpay }}"  alt="使用微信赞赏码方式" />
		</li>
		{% endif %}
		{% if site.qqpay %}
		<li>
			<span class="tag-name" id="qq">「QQ钱包转账二维码方式」</span>
			<img src="{{ site.qqpay }}"  alt="使用QQ钱包转账二维码方式" />
		</li>
		{% endif %}
		{% if site.cardpay.cardnumber.size>0 %}
		<li>
			<span class="tag-name" id="cardpay">「银行卡转账」</span>
			<p>请认真核对以下内容！内容出错博主不负责，除非特别注明。</p>
			{% if site.cancardpay %}
				<p>< This card is ready! 此卡已准备完毕！ ></p>
			{% else %}
				<p>< This card never ready! 此卡没有准备完毕！></p>
			{% endif %}
			<li>
				<p>持卡人姓名：{% if site.cardname.size==0 or site.cardname==nil %}{{ site.author }}{ else }{{ site.cardname }}{% endif %}</p>
				<p>卡号：{{ site.cardnumber }}</p>
				<p>开户行：{{ site.cardkaihh }}</p>
				<p>银行卡类型：{% if site.cardlx.size==5 %}借记卡{% else %}信用卡{% endif %}</p>
			</li>
		</li>
		{% endif %}
		<li>
			<span class="tag-name" id="oops">「Oops!」</span>
			<p>天啊！我发现我的钱居然莫名其妙地到了这个博客博主的账号上！</p>
			<p>如果您发现您的钱不知怎么到了我的账户上，请速与我联系！</p>
			{% if site.qq.size>0 %}
                <p>QQ：<a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin={{ site.qq }}&site=qq&menu=yes"><img border="0" src="/assets/icons/qq_lianxiwomen.gif" alt="联系站长" title="联系站长"/></a></p>
            {% endif %}
            {% if site.mail.size>0 %}
                <p>邮箱：<a target="_blank" href="mailto:{{ site.mail }}">{{ site.mail }}</a></p>
            {% endif %}
            {% if site.mp.size==11 %}
                <!--11位手机号属于中国大陆标准手机号，大陆通用-->
                <p>手机：<a href="tel:{{ site.mp }}">{{ site.mp }}</a></p>
            {% endif %}
		</li>
</main>
    
{% include footer.html %}
