{% if site.comments.default_hidden %}
		<section class="post-footer-item comment">
        <button class="comment-button" type="button">
            <i class="fa fa-commenting" aria-hidden="true"></i>
            <span class="comment-button-span">展开评论</span>
        </button>
        {% endif %}
        
        <div class="comment-inner">
            {% if site.comments.disqus and site.comments.disqus_url.size>0 %}
            <div id="disqus_thread"></div>
<script>
    /**
     *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
     *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/
    /*
    var disqus_config = function () {
    this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
    this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
    };
    */
    (function() { // DON'T EDIT BELOW THIS LINE
      var d = document,
        s = d.createElement('script');
      s.src = '{{ site.comments.disqus_url }}';
      s.setAttribute('data-timestamp', +new Date());
    
      (d.head || d.body).appendChild(s);
    })();
</script>
<noscript>请启用JavaScript来使用disqus评论系统，或关闭您的广告拦截插件。详见 https://disqus.com/?ref_noscript</noscript>
<!--Disqus End-->
{% endif %}
        
            {% if site.comments.livere and site.comments.livere_uid.size>0 %}
            <div id="lv-container" data-id="city" data-uid="{{ site.comments.livere_uid }}"></div>          
<script type="text/javascript">
   (function(d, s) {
       var j, e = d.getElementsByTagName(s)[0];

       if (typeof LivereTower === 'function') { return; }

       j = d.createElement(s);
       j.src = 'https://cdn-city.livere.com/js/embed.dist.js';
       j.async = true;

       e.parentNode.insertBefore(j, e);
   })(document, 'script');
</script>
	<noscript>请启用JavaScript来使用来必力评论系统，或关闭您的广告拦截插件。</noscript>
            {% endif %}
	
	<!--默认隐藏评论吗？-->
	{% if site.comments.default_hidden %}
    <style>
        .comment button{
            margin-bottom: 40px;
            width: 100%;
            background: none;
            border-style: solid hidden solid hidden;
            font-size: 18px;
            height: 40px;
            opacity: 0.5;
        }
        
        .comment button:hover{
            opacity: 0.9
        }
        
        .comment button span{
            padding-left: 5px;
            letter-spacing: 20px;
            line-height: 40px;
        }
        
        .comment-inner {
            display: none
        }
    </style>
      
    <script>
    $(document).ready(function() {
        let clicked = false
        $(".comment-button").click(function() {
            $(".comment-inner").slideToggle()
            clicked = !clicked
            $(".comment-button-span").html(clicked ? "收起评论" : "展开评论")
        })
    })
    </script>
{% endif %}
