<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% if page.title %}{{ page.title }} - {{ site.title }}{% else %}{{ site.title }}{% endif %}</title>
    <meta name="author"  content="{{ site.author }}">
    <meta name="description" content="{{ site.description }}">
    <meta name="keywords"  content="{{ site.keyword }}">
    <!-- Open Graph -->
    <meta property="og:title" content="{% if page.title %}{{ page.title }} - {{ site.title }}{% else %}{{ site.title }}{% endif %}">
    <meta property="og:type" content="website">
    <meta property="og:url" content="{{ page.url | prepend: site.url }}">
    <meta property="og:description" content="{{ site.description }}">
    <meta property="og:site_name" content="{{ site.title }}">
    <link rel="stylesheet" href="//cdn.staticfile.org/normalize/6.0.0/normalize.min.css">
    <link rel="stylesheet" href="//at.alicdn.com/t/font_roc50gemkxpw4s4i.css">
    <link rel="stylesheet" href="/assets/css/github-markdown.css">
    <link rel="stylesheet" href="/assets/css/share.min.css">
    <link rel="stylesheet" href="/assets/css/app.min.css">
    <link href="/assets/css/bootstrap.min.css" rel="stylesheet">
	<!--代码框Prism的css和js-->
	<script src="/assets/js/prism.js"></script>
    <link rel="stylesheet" href="/assets/css/prism.css">
	<link rel="stylesheet" href="/assets/css/syntax.css">
	<link rel="stylesheet" href="https://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <!--360站长平台验证-->
    <meta name="360-site-verification" content="{{ site.360zzpt }}" />
    <!--百度搜索资源平台-->
    <meta name="baidu-site-verification" content="{{ site.baidusszypt }}" />
    <!--百度联盟-->
    <meta name="baidu_union_verify" content="{{ site.baiduunion }}">
    <!--必应网站管理-->
    <meta name="msvalidate.01" content="{{ site.bingtj }}" />
	
	<!--Google Ads是否开启/底部横向弹窗-->
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    {% if site.googleads.googleadson %}
    <script>
        (adsbygoogle = window.adsbygoogle || []).push({
        google_ad_client: "ca-pub-9833352239491773",
        enable_page_level_ads: true
    });
    </script>
    {% endif %}
    {% if site.googleads.phonedbads %}
    <script>
        (adsbygoogle = window.adsbygoogle || []).push({
        google_ad_client: "ca-pub-9833352239491773",
        enable_page_level_ads: true
    });
    </script>
    {% endif %}
    {% include anchor.html %}
</head>
