<header class="g-header">
    <div class="g-logo">
      <a href="{{ "/" | relative_url }}"></a>
    </div>
    <i id="menu-toggle" class="iconfont icon-menu"></i>
    <nav class="g-nav">
        <ul>
            {% for i in site.nav %}
            <li><a href="{{ i[1] }}">{{ i[0] }}</a></li>
            {% endfor %}
            {% if site.date.links.haolinks or site.date.links.putonglinks or site.data.links.zzlinks %}
                <li><a href="/links.html">LINKS</a></li>
            {% endif %}
            {% if site.RSS %}
            <li><a href="/feed.xml">RSS</a></li>
            {% endif %}
        </ul>
    </nav>
</header>
