/*Steam评论、帖子使用的文字格式*/
/*spoiler hide标签用于隐藏文字*/
spoiler, hide{transition-duration: .2s;-moz-transition-duration: .2s;-webkit-transition-duration: .2s;-o-transition-duration: .2s;}
spoiler, hide{background-color: black;color:black;}
spoiler:hover, hide:hover{color:white;}

:not(pre)>code[class*=language-],pre[class*=language-]
{
	background-color: #2d313a
}
code[class*="language-"], pre[class*="language-"]
{
	background-color: #2d313a
}
.highlight pre, pre, .highlight .hll
{
	background-color: #2d313a
}
pre code{color:white}
.highlighter-rouge>.highlight>.highlight
{
	background-color: #f5f5f5
}
