<!DOCTYPE html>
<html>
{% include head.html %}
<body>
{% include skip.html %}
<a name="top" id="top"></a>
    <!--[if lt IE 10]>
<div class="alert-danger" role="alert">你的浏览器实在太太太旧了，放学别走，升级完浏览器再说！<a target="_blank" class="alert-link" href="http://browsehappy.com">立即升级</a></div>
<![endif]-->
	{% include tq.html %}
    <input id="nm-switch" type="hidden" value="{{ site.nightMode }}">
    {% include site-other.html %}
    {{ content }}
    <script src="https://cdn.staticfile.org/jquery/3.2.1/jquery.min.js"></script>
    <script src="/assets/js/prism.js"></script>
    <script src="/assets/js/index.min.js"></script>
	<!--弹窗的js和css-->
	<script src="/assets/js/jquery.min.js"></script>
	<script src="/assets/js/bootstrap.min.js"></script>
	<script src="/assets/js/jquery.cookie.min.js"></script>
	<script src="/assets/js/main.js"></script>
	
	<script type="text/javascript">
	var isModal=true;
	var homepage=true;
	var hashsalt='5dfc083f50923bc616b3b47d1786f54c';
	</script>
</body>
</html>
